<app-coaching-navbar></app-coaching-navbar>
<div class="container-fluid no-gutter" *ngIf="!isLoading">
    <div class="row">
        <div class="col-lg-8 col-md-9">
            <div class="player-box">
                <div id="instructions">
                    <video id="my_video_1" class="video-js vjs-default-skin" width="100%" height="400px" controls
                        preload="none" [poster]='videoPoster'
                        data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                        <source [src]="videoSrc" type='video/mp4' />
                        <source [src]="videoSrc" type='video/webm' />
                    </video>
                </div>
            </div>
            <div class="description-box">
                <h1>{{videoToPlay.videoName}}</h1>
                <p>{{videoToPlay.videoDescription}}</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-3">
            <div class="menu-container">
                <div class="menu-heading">
                    <label>Playlist</label>
                </div>
                <div class="menu-items">
                    <div class="item-button" (click)="videoSelected(video)" *ngFor="let video of videos">
                        <div class="thumbnail">
                            <img class="img_attr" src="https://media.publit.io/file/700/displayPic-T.jpg" alt="">
                            {{video.videoId+" ."+video.videoName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-page-loading *ngIf="isLoading"></app-page-loading>