<div class="footer-market">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="footer-box">
                    <h2>About Us</h2>
                    <p>EXAMPEDIA PVT LTD</p>
                    <p>MOTTO : Bring you coachings around the world</p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="footer-box">
                    <h2>Newsletter</h2>
                    <p>Stay update with our latest</p>
                    <div class="form-element">
                        <input type="text" placeholder="Email"><span>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="footer-box social">
                    <h2>Follow Us</h2>
                    <p>Let us be social</p>
                    <div>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="footer-box">
                    <h2>Contact Us</h2>
                    <p>Mobile : 9657649375</p>
                    <p>Email : exampedia@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="rights">
                <h4>
                    Copyright ©2020 All rights reserved : made by
                    <a href="#">Mradul Mishra</a>
                </h4>
            </div>
        </div>
    </div>
</div>